@use "sass:color";

// @use "./fonts";

:root {
  scroll-behavior: smooth;
}

// Fonts
$font-family-title: null !default;
$font-family-text-alt: null !default;
$font-family-text: null !default;

// Les couleurs
$white: #fff !default;
$dark: #000 !default;
$primary: null !default;
$primary-100: null !default;
$primary-200: null !default;
$primary-300: null !default;
$primary-400: null !default;
$primary-500: null !default;
$primary-600: null !default;
$primary-700: null !default;
$primary-800: null !default;
$primary-900: null !default;
$primary-10: null !default;
$secondary: null !default;
$secondary-100: null !default;
$secondary-200: null !default;
$secondary-300: null !default;
$secondary-400: null !default;
$secondary-500: null !default;
$secondary-10: null !default;
$neutral-100: null !default;
$neutral-200: null !default;
$neutral-300: null !default;
$neutral-400: null !default;
$neutral-500: null !default;
$neutral-600: null !default;
$neutral-700: null !default;
$neutral-800: null !default;
$neutral-900: null !default;
$neutral-10: null !default;
$transparent: null !default;
$main-color: null !default;
$error: null !default;
$alt-color: null !default;

// texts
$text-light: null !default;
$text-dark: null !default;
$text-primary: null !default;
$text-secondary: null !default;
$text-alt: null !default;
$title-light: null !default;
$title-dark: null !default;
$title-alt: null !default;
$background-light: null !default;
$background-light-alt: null !default;
$background-dark: null !default;
$background-alt: null !default;

// border
$border: null !default;

// input
$input-border: null !default;
$input-border-hover: null !default;
$input-text: null !default;
$input-background: null !default;

// btn
$btn-primary-border: null !default;
$btn-primary-background: null !default;
$btn-primary-background-hover: null !default;
$btn-primary-text: null !default;
$btn-secondary-border: null !default;
$btn-secondary-background: null !default;
$btn-secondary-background-hover: null !default;
$btn-secondary-text: null !default;
 